.category_row {
  width: 250px;

  display: flex;
  align-items: center;
  justify-content: space-between;
}

.select_wrapper {
  position: relative;

  &::after {
    content: "";
    position: absolute;
    top: calc(50% - 6px);
    right: 5px;
    padding: 3px;

    border-right: 3px solid var(--main-color);
    border-bottom: 3px solid var(--main-color);
    transform: rotate(45deg);

    pointer-events: none;
  }
}

.buttons {
  display: flex;
  gap: 25px;
}
