.menu_icon {
  display: none;
  height: 24px;
  width: 30px;
  margin-right: 20px;
  margin-left: auto;
  position: relative;
  span {
    transition: all 0.3s;
    display: block;
    width: 100%;
    height: 3px;
    position: absolute;
    top: calc(50% - 1.5px);
    left: 0;

    background-color: var(--main-color);
  }
  :first-child {
    top: 1px;
  }
  :last-child {
    top: calc(100% - 2.5px);
    bottom: 0;
  }

  &.active {
    span {
      display: none;
      top: calc(50% - 1px);
    }
    :first-child {
      display: inline-block;
      transform: rotate(-45deg);
    }
    :last-child {
      display: inline-block;
      transform: rotate(45deg);
    }
  }
}

@media (max-width: 768px) {
  .menu_icon {
    display: block;
  }
}
