.form {
  height: 100%;

  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;

  label {
    width: 100%;
    position: relative;

    display: grid;
    grid-template-columns: minmax(100px, max-content) 1fr;
    column-gap: 30px;

    text-align: start;
  }

  span {
    text-decoration: underline;
    text-underline-offset: 6px;
    text-decoration-color: var(--main-color);
    font-weight: 500;
    font-size: 1.8rem;
  }

  textarea {
    width: 100%;
  }

  input,
  textarea {
    &:disabled {
      border: none;
    }
  }
}

@media (max-width: 550px) {
  .form {
    label {
      grid-template-columns: 1fr;
      row-gap: 10px;
    }
  }
}
