.ul,
.ul_small {
  padding-bottom: 20px;

  display: grid;
  grid-template-columns: repeat(4, 1fr);
  justify-content: center;
  justify-items: center;
  gap: 25px;
}

@media (max-width: 1200px) {
  .ul {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 1120px) {
  .ul_small {
    max-width: 960px;
    margin: 0 auto;
    grid-template-columns: repeat(3, 1fr);
  }
}

@media (max-width: 900px) {
  .ul {
    max-width: 600px;
    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 840px) {
  .ul_small {
    max-width: 600px;
    padding-left: 20px;
    padding-right: 20px;

    grid-template-columns: repeat(2, 1fr);
  }
}

@media (max-width: 600px) {
  .ul {
    grid-template-columns: repeat(1, 1fr);
  }
}

@media (max-width: 560px) {
  .ul_small {
    grid-template-columns: repeat(1, 1fr);
  }
}
